.box {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.draggableBox {
	width: 100px;
	height: 100px;
	background-color: blue;
	//z-index: 99;
	color: white;
}

.draggableBoxCopy {
	width: 100px;
	height: 100px;
	background-color: coral;
	//z-index: 10;
}

.invisible {
	width: 100px;
	height: 100px;
	opacity: 0;
	//z-index: 0;
}

.box:hover, .draggableBox:hover {
	cursor: grab;
}

.box:focus,
.box:focus-visible,
.box:active,
.draggableBox:active,
.draggableBoxCopy:focus,
.draggableBoxCopy:hover {
	cursor: grabbing;
}
