.column:hover {
	cursor: pointer;
	background-color: gray;
}

.column {
	background-color: lightgray;
}

.column * {
	pointer-events: none;
}

.placeholder {
	height: 100px;
	width: 100px;
	background-color: black;
	z-index: 1;
}