.column:hover {
	cursor: grab;
}

.column {
	background-color: lightgray;
	//margin-right: 20px;
}

.column * {
	pointer-events: none;
}

.placeholder {
	height: 100px;
	width: 100px;
	background-color: black;
	z-index: 1;
}